[submodule "src/payloads/PongoOS"]
	path = src/payloads/PongoOS
	url = https://github.com/dr1408/PongoOS.git
	branch = t8030
[submodule "pico-sdk"]
	path = vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
